
<div class="top_stories">
	<h1>Top Stories</h1>
</div>

<center>
	<%= will_paginate @top_stories%>
</center>

<%Question.all.each do |question|%>
	<div class="panel panel-default">
		
		<div class="panel-heading"><a id="post_title" href="/questions/<%=question.id%>"><%=question.title%></a><br>

		by <a href="/users/<%=question.user_id%>"><%=question.user.name%></a><br>

			<%if question.user_id.to_i == session[:user_id]%>

				<a href="/questions/<%=question.id%>/edit"><button style="float:right">Edit Your Question</button></a>

				<form action="/questions/<%=question.id%>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Delete Your Questions" style="float:right">
				</form>
			<%end%>

		</div> <!-- panel-heading -->


		<%if Answer.find_by(question_id: question.id)%>
		
			<div class="panel-body truncated_answer_content"><%=Answer.find_by(question_id: question.id).content%><br>
			</div> <!--- panel-body -->
			
		<%end%>

		<%if logged_in?%>
		
		<div class="panel-footer">
			<a href="/questions/<%=question.id%>"><button>Post Your Answer!</button></a>	

			<div id="vote_control">

				<button type="button" class="upvote-button" id="upvote-button-<%=question.id %>"  data-vote-url="/questions/<%= question.id %>/upvote">Upvote <%=question.questionvotes.where(pattern: true).count%></button>

				<button type="button" class="downvote-button" id="downvote-button-<%=question.id %>"  data-vote-url="/questions/<%= question.id %>/downvote">Downvote </button>
			</div>
		</div> <!--- panel-footer -->

		<%else%>
			<div class="panel-footer">
				<div class="container2">
			  <!-- Trigger the modal with a button -->
			  	<button type="button" class="btn btn-default upvote-button" id="myBtn" data-toggle = "modal" data-target = "#myModal">Upvote <%=question.questionvotes.where(pattern: true).count%></button>

					<button type="button" class="btn btn-default upvote-button" id="myBtn" data-toggle = "modal" data-target = "#myModal">Downvote</button>

				</div> <!--container2 -->
			</div> <!--panel footer -->
		<%end%>
	</div> <br><!-- whole-panel -->
<%end%>




