<h2><%=@question.title%></h2>
by <a href="/users/<%=@user.id%>"><%=User.find(@question.user_id).name%></a>

<br>

<%if @question.user_id == session[:user_id]%>

	<a href="/questions/<%=@question.id%>/edit"><button>Edit Your Question</button></a>

	<form action="/questions/<%=@question.id%>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Your Questions">
	</form>

<%end%>