<h2><%=@question.title%></h2>
by <a href="/users/<%=@user.id%>"><%=@user.name%></a>

<br>
<a href="/questions/<%=@question.id%>/edit"><button>Edit Your Question</button></a>

<form action="/questions/<%=@question.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Your Questions">
</form>