	
	<h2><%=@question.title%></h2>	
	by <a href="/users/<%=@user.id%>"><%=User.find(@question.user_id).name%></a>

<div id="vote_control">
	<form action="/questionvotes" method="post">
		<input type="hidden" name="question_id" value="<%=@question.id%>">
		<input class="user_button" type="submit" value="Upvote">
	</form>

	<form action="/questionvotes/<%=@user.id%>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input class="user_button" type="submit" value="Downvote">
	</form>
</div>

	<br>


<%if @question.user_id.to_i == current_user.id%>

	<a href="/questions/<%=@question.id%>/edit"><button>Edit Your Question</button></a>

	<form action="/questions/<%=@question.id%>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Your Questions">
	</form>


<%else%>

	<form action="/answers" method="POST">
		<label>Answer The Questions </label><br>
		<textarea name="content" required></textarea><br>
		<input type="hidden" name="question_id" value= <%=@question.id%> >
		<input type="submit" value="Post Your Answer!">
	</form>
<%end%>


<div class="post">
	<%Answer.where(question_id: @question.id).each do |answer|%>
		<%=answer.content%><br>

		<%if answer.user_id.to_i == current_user.id%>

			<a href="/answers/<%=answer.id%>/edit"><button>Edit Your Answer</button></a>

			<form action="/answers/<%=answer.id%>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete Your Answer">
			</form>
		<%end%>

	<%end%>
</div>

<br><br>
