	
	<h2><%=@question.title%></h2>	
	by <a href="/users/<%=@user.id%>"><%=@question.user.name%></a>

<div id="vote_control">

<% if @question.questionvotes %>

		<form id="target" action="/questionvotes/upvote" method="post">
			<input id="question_id" type="hidden" name="question_id" value= "<%= @question.id%>" >
			<input type="submit" value="Upvote <%=@question.questionvotes.where(pattern: true).count%>">
		</form>
<%end%>

	




	<%if @user.questionvotes.find_by(question_id: @question.id).nil?%>

		<form action="/questionvotes/downvote" method="post">
			<input type="hidden" name="question_id" value= "<%= @question.id%>" >
			<input type="submit" value="Downvote">
		</form>

	<%else%>
		<form action="/questionvotes/<%=@user.questionvotes.find_by(question_id: @question.id).id%>/downvote" method="post">
			<input type="hidden" name="_method" value="patch">
			<input id="question_id" type="hidden" name="question_id" value= "<%= @question.id%>" >
			<input type="hidden" name="questionvote_id" value= "<%= @question.id%>" >
			<% if @user.questionvotes.find_by(question_id: @question.id).pattern == false%>
				<input class="user_button" type="submit" value="Downvoted" >
			<%else%>
				<input class="user_button" type="submit" value="Downvote" >
			<%end%>
		</form>

	<%end%>
</div>

<br><br>

<%if @question.user_id.to_i == current_user.id%>

	<a href="/questions/<%=@question.id%>/edit"><button>Edit Your Question</button></a>

	<form action="/questions/<%=@question.id%>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Your Questions">
	</form>


<%else%>

	<form action="/answers" method="POST">
		<label>Answer The Questions </label><br>
		<textarea name="content" required></textarea><br>
		<input type="hidden" name="question_id" value= <%=@question.id%> >
		<input type="submit" value="Post Your Answer!">
	</form>
<%end%>

<h3>Answer</h3>
<div class="post">
	<%Answer.where(question_id: @question.id).each do |answer|%>
		<%=answer.content%><br>

		<%if answer.user_id.to_i == current_user.id%>

			<a href="/answers/<%=answer.id%>/edit"><button>Edit Your Answer</button></a>

			<form action="/answers/<%=answer.id%>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete Your Answer">
			</form>
		<%end%>

	<%end%>
</div>

<br><br>
