<h1>User Profile</h1>

<nav>
<a href="/users/<%=@user.id%>/question">My Question</a> | 
<a href="/users/<%=@user.id%>/answer">My Answer	</a>
</nav>

Name: <%= @user.name%><br>
Email: <%= @user.email%><br>
Description: <%= @user.description%><br>

<%if session[:user_id] == @user.id%>
	<a href="/users/<%=@user.id%>/edit"><button>Edit</button></a>

	<form action="/users/<%=@user.id%>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="delete">
	</form>

	<a href="/questions/new"><button>Post a new questions!</button></a>
<%end%>



<% if @user.questions != nil%>
	<h3><%= @user.name%> asked this:</h3><br>

	<% @user.questions.each do |question|%>

		<a href="/questions/<%=question.id%>"><%=question.title%></a><br>
	<%end%>
<%end%>


<% if @user.answers != nil%>
	<h3><%= @user.name%> answer this:</h3><br>

	<% @user.answers.each do |answer|%>

		<a href="/questions/<%=answer.question_id%>"><%=Question.find(answer.question_id).title%></a><br>
		<%=answer.content%>
	<%end%>
<%end%>